@media screen and (max-width: 3000px)
	.Header
		.Header-Contenedor
			.accordion-content
				
				.Conten-selectores
					width 38%

@media screen and (max-width: 1068px)
	.ContenPrincipal
		.Descripcion
			.Conten-descripcion
				.div
					width 33%
				.datos
					float right
					width 65%
					
	


@media screen and (max-width: 992px)
				
	.Header
		.Header-Contenedor
			.botonBuscar
					display inline-block

			.MenuMobile
				display inline-block
				float right
				.botonMenu
					&:hover
						color azulClaro

			.accordion-content
				display none
				.Busqueda
					width 100%

			.Menu
				border-radius 0 0 .3em
				background gris
				position: fixed
				position: absolute
				right 100%
				top 53px
				width 70%
				z-index 4

				.Menu-lista 
					margin 0

					.Menu-item  
						display block
						margin 0
						.Menu-link			
							display block
							&:hover
								border-radius 0 0 .3em
								background azulClaro
								border none
								color blanco

	.ContenPrincipal
		.Peliculas-contenPrincipal
			.Peliculas-articulo
				.Pelicula-conten
					.Peliculas-imgConten
						.Peliculas-img
							height 250px
		.Descripcion
			.Conten-trailer
				.trailer
					width 75%
		.Conten-vertical
			.PelisRecomendadas
				.imageConten
					.image
						height 100px
		.Peliculas-contenPrincipal
			.Peliculas-articulo
				&:hover
					.Peliculas-minDescripcion
						display none
		
@media screen and (max-width: 835px)

	.ContenPrincipal
		text-align center
		.Descripcion
			.Conten-trailer
				display block
				overflow hidden
				margin .3em auto
				width 100% 
				-webkit-box-sizing border-box
				-moz-box-sizing border-box
				-ms-box-sizing border-box
				-o-box-sizing border-box
				
				
		.Conten-vertical
			display none
			
		.Peliculas-contenPrincipal
			width 100%
			
		.Descripcion
			.Conten-descripcion
				.div
					width 99.7%
					display block
				
				.datos
					width 99.7%
					display block
			
	.PiePagina
		.PiePagina-principal
			.Social
				display block
				float none
				margin 0 auto
				overflow hidden
				text-align center
				
			.PiePagina-letra
				float none
				display block
				text-align center
				
@media screen and (max-width: 700px)
	.Cartelera
		display none
	.ContenPrincipal
		.Peliculas-contenPrincipal
			.Peliculas-articulo
				.Pelicula-conten
					.Peliculas-imgConten
						.Peliculas-img
							height 230px

@media screen and (max-width: 600px)
	.Header
		.Header-Contenedor
			.accordion-content
				
				.Conten-selectores
					width 100%
					margin-top 5px
					text-align center
					.Conten-selec
						width 1px
				
				.Busqueda
					.Busqueda-barra
						width 100%
	.ContenPrincipal
		.Peliculas-contenPrincipal
			.Peliculas-articulo
				.Pelicula-conten
					.Peliculas-imgConten
						.Peliculas-img
							height 320px		

	.ContenPrincipal
		.Descripcion
			.Conten-trailer
				.trailer
					height 230px
					width 90%
					
									
		.Peliculas-contenPrincipal
			.Peliculas-articulo
				width 45%

@media screen and (max-width: 400px)
	.Header
		.Header-Contenedor
			.accordion-content
				.Mobile-barraBuscar
					width 90%
					
	.ContenPrincipal
		.Peliculas-contenPrincipal
			.Peliculas-articulo
				width 80%
				margin-bottom .5em
				.Pelicula-conten
					.Peliculas-imgConten
						.Peliculas-img
							height 380px							
			

@media screen and (max-width: 290px)
	.Header
		.Header-Contenedor
			.Header-contenTitulo
				.Header-titulo
					font-size 18px
					margin-top .6em

				
