@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon2.eot?-vb1j43');
	src:url('fonts/icomoon2.eot?#iefix-vb1j43') format('embedded-opentype'),
		url('fonts/icomoon2.ttf?-vb1j43') format('truetype'),
		url('fonts/icomoon2.woff?-vb1j43') format('woff'),
		url('fonts/icomoon2.svg?-vb1j43#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
	content: "\e600";
}.icon-cross-2:before {
	content: "\e600";
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?r4lklx');
	src:url('fonts/icomoon.eot?#iefixr4lklx') format('embedded-opentype'),
		url('fonts/icomoon.ttf?r4lklx') format('truetype'),
		url('fonts/icomoon.woff?r4lklx') format('woff'),
		url('fonts/icomoon.svg?r4lklx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tag:before {
	content: "\e935";
}
.icon-search:before {
	content: "\e986";
}
.icon-menu:before {
	content: "\e9bd";
}
.icon-menuActivo:before {
	content: "\e9bd";
	color: #cc4839;
}
.icon-menuAbajo:before {
	content: "\e9bf";
}
.icon-menuArriba:before {
	content: "\e9c0";
}
.icon-plus:after {
	content: "\ea0a";
	float: right;
}
.icon-minus:after {
	content: "\ea0b";
	float: right; 
}
.icon-play3:before {
	content: "\ea1c";
}
.icon-google-plus2:before {
	content: "\ea89";
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	
}
.icon-google-plus2:hover{
	color: #CE3C2A;
	text-shadow: 1px 2px 15px white;	
}
.icon-facebook2:before {
	content: "\ea8d";
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}
.icon-facebook2:hover{
	text-shadow: 1px 2px 15px white;
	color: #3A5795;
}
.icon-twitter2:before {
	content: "\ea92";
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}
.icon-twitter2:hover{
	text-shadow: 1px 2px 15px white;
	color: #4893c9;
}
.icon-youtube2:before {
	content: "\ea97";
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
}
.icon-youtube2:hover{
	text-shadow: 1px 2px 15px white;
	color: #D62424;
}
